/* button Styles - Starts*/
.btn{
    &.btn-default{
        
    }
    &.btn-red{
        background:$celergen-red;
        color: #fff;
    }
    &.btn-blue{
        background:$celergen-blue;
        color: #fff;
    }
    &.btn-blue-trans{
        background-color: rgba(36, 58, 81, 0.75);
        color:#fff;
        border: 1px solid rgba(36, 58, 81, 0.75);
        box-shadow:2px 2px 2px rgba(36, 58, 81, 1);
        &:hover, &:active{
            border: 1px solid rgba(186, 28, 49, 1);
            box-shadow:2px 2px 2px rgba(186, 28, 49, 1);
            background: rgba(186, 28, 49, 1);
        }
    }
}

/* button Styles - Ends*/

.popup-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    display: none;
    top:0;
    left: 0;
    z-index: 5;
}

/* Modal Styles - Starts*/

.modal-dialog {
    margin: 20px auto;
}

#popup-template {
    padding-right:0px !important;
    .modal-dialog{
        margin-top:90px;
        overflow-y: initial;
        
        .modal-body{
            max-height: calc(100vh - 150px);
            min-height:250px;
            overflow-y: auto;
        }
        .modal-footer{
            padding:5px 5px 5px 5px;
         //   border-top:none;
        }
    }
}

.popup-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    display: none;
    top: 0;
    left: 0;
    z-index: 5;
}


/* Modal Styles - Ends*/

/* Authentication-modal  - Starts*/
body.authentication-modal-open {
    .authentication-modal {
        z-index: 33002;
        display: block;
        opacity: 1;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 33002;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        .modal-dialog {
            width: 55%\9;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }

    .popup-overlay {
        display: block;
        background: #000;
        opacity: 1;
        z-index: 33000;
    }
}

#authentication-modal{
    .modal-footer {
        .btn {
//            margin-top: 15px;
            white-space: normal;
        }
    }
}

/* Authentication-modal  - Ends*/

.form-group {
    margin-bottom: 15px;
    .form-control{
        margin-bottom: 10px;
    }
}

/* Celergen Hero Section - starts*/
.homepage-hero-module{
    overflow:hidden;
    background: rgba(37, 84, 131, 1);
}

.hero-middle-content{
    z-index:5;
    position: absolute;
    padding-top: 100px;
    padding-bottom: 100px;
    width:100%;
    top: 0;
    .hero-image-section{
        width:70%;
        margin-left: auto;
        margin-right: auto;
        .image-column{
            text-align:right;
        }
        .text-column{
            padding-left:50px;
            margin-top:50px;
        }
        .hero-btn-group{
            margin-top: 30px;
            .btn{
                margin-right: 20px;
                border-radius: 4px;
                margin-bottom:20px;
            }
        }
    }
}

/* Celergen Hero Section  - Ends*/
.navbar-nav.nav-justified > li {
    float: none;
}
.nav-justified > li, .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
}
.modal{
    .modal-header .close {
        margin-top: 0px;
        position: absolute;
        right: 12px;
        top: 10px;
        font-size: 30px;
    }
}
#video-popup-template {
    .modal-body{
        height:70vh;
        iframe{
            height:70vh;
        }
    }
}
.modal-footer{
    &.text-center{
        text-align:center;
    }
}
/* Celergen Video Section - starts*/

.video-box {
    margin-right: auto;
    margin-left: auto;
    max-width:854px;
}


/* Celergen Video Section  - Ends*/
@media screen and (max-width: $screen-sm-max){
    .hero-middle-content{
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
       /* background: rgba(230,233,235,1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(230,233,235,1) 0%, rgba(230,233,235,1) 2%, rgba(73,155,234,1) 83%, rgba(73,155,234,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(230,233,235,1)), color-stop(2%, rgba(230,233,235,1)), color-stop(83%, rgba(73,155,234,1)), color-stop(100%, rgba(73,155,234,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(230,233,235,1) 0%, rgba(230,233,235,1) 2%, rgba(73,155,234,1) 83%, rgba(73,155,234,1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(230,233,235,1) 0%, rgba(230,233,235,1) 2%, rgba(73,155,234,1) 83%, rgba(73,155,234,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(230,233,235,1) 0%, rgba(230,233,235,1) 2%, rgba(73,155,234,1) 83%, rgba(73,155,234,1) 100%);
        background: radial-gradient(ellipse at center, rgba(230,233,235,1) 0%, rgba(230,233,235,1) 2%, rgba(73,155,234,1) 83%, rgba(73,155,234,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e9eb', endColorstr='#499bea', GradientType=1 );
        */
        background: rgba(73,155,234,1);
        background: -moz-linear-gradient(top, rgba(73,155,234,1) 17%, rgba(73,155,234,1) 27%, rgba(230,233,235,1) 88%, rgba(230,233,235,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(73,155,234,1)), color-stop(27%, rgba(73,155,234,1)), color-stop(88%, rgba(230,233,235,1)), color-stop(100%, rgba(230,233,235,1)));
        background: -webkit-linear-gradient(top, rgba(73,155,234,1) 17%, rgba(73,155,234,1) 27%, rgba(230,233,235,1) 88%, rgba(230,233,235,1) 100%);
        background: -o-linear-gradient(top, rgba(73,155,234,1) 17%, rgba(73,155,234,1) 27%, rgba(230,233,235,1) 88%, rgba(230,233,235,1) 100%);
        background: -ms-linear-gradient(top, rgba(73,155,234,1) 17%, rgba(73,155,234,1) 27%, rgba(230,233,235,1) 88%, rgba(230,233,235,1) 100%);
        background: linear-gradient(to bottom, rgba(73,155,234,1) 17%, rgba(73,155,234,1) 27%, rgba(230,233,235,1) 88%, rgba(230,233,235,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#e6e9eb', GradientType=0 );
    }
}
        
@media screen and (min-width: $screen-sm-max){
    .hero-middle-content{
        .hero-image-section{
            .image-column{
                text-align:center;
                img{
                    float:right;
                }
            }
        }
    }
 }

/* Carousel Section - starts*/
.carousel-indicators {
    right: 0;
    left: 0;
    z-index: 300;
    bottom: 20px;
    li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000 \9;
        background-color: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 10px;
    }
    .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #fff;
    }
}
.carousel-indicators .active {
    background: #31708f;
}
.content {
    margin-top: 20px;
    /*background-color:#091e33;*/
}

.adjust1 {
    float: left;
    width: 100%;
    margin-bottom: 0;
    background-color: #091e33;
    border-radius: 20px;
}

.adjust2 {
    margin: 0;
    color: #ffffff;
}

.adjust3 {
    margin: 0;
    color: #ffffff;
}


.carousel-indicators li {
    border: 1px solid #ccc;
}
a, a[data-popup]{
    cursor:pointer;
}
.carousel-control {
//    color: #091e33;
    width: 5%;
    color: #fff;
}

.carousel-control:hover, .carousel-control:focus {
    color: #31708f;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.media-object {
    margin: auto;
    margin-top: 15%;
}

@media screen and (max-width: 768px) {
    .media-object {
        margin-top: 0;
    }
}
/* Carousel - Ends */


/* benefits section - Starts */
.benefits-section{
    //background-color: #3B5998; 
    background-color:#091b3e;
    color:#fff;
    position: relative;
    padding-top:30px;
    padding-bottom:30px;
    .benefits-section-image{
        padding:0px;
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        height:100%;
        position:absolute;
        top:0;
        &.right-layout{
            right:0;
        }
        &.left-layout{
            left:0;
        }
    }
    .visible-xs{
        padding-left:0px;
        padding-right:0px;
        .image-full-width{
            width:100%;
            margin-bottom:30px;
        }
    }

    .benefits-section-content{
        padding-left:30px;
        padding-right:30px;
        .description{
            margin-bottom:20px;
            line-height:150%;
        }
    
        &.left-layout{
            clear:both;
            float:left;
        }

        &.right-layout{
            clear:both;
            float:right;
        }
    }
    @media screen and (min-width: $screen-xs-max) {
        padding-top:80px;
        padding-bottom:80px;
        .benefits-section-content{
           padding-left:50px;
            padding-right:50px;
        }
       
    }
    @media screen and (max-width: $screen-xs-max) {
        padding-top:0px;
         .lead {
            font-size: 22px;
        }
    }
}
    
/* benefits section - Ends */

/* contact us form  - starts */

$white: #fff;
$purple: #54428E;
$success: #0A8754;
$lightSuccess: #82E682;
$error: #FF5C5C;
$grey: #ccc;
$opacBlack: rgba(0, 0, 0, 0.3);

.form-group{
    
    &.inputContainer {
        border: 1px solid $grey;
        border-radius: 3px;
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
        background: transparent;
        height: 34px;
        &.text-area{
            height:min-content;
        }
        label,
        input,
        textarea {
            box-sizing: border-box;
            padding: 10px 6px;
            font-size: 14px;
            line-height: 1em;
            border: none;
            font: inherit;
        }

        label {
            display: inline-block;
            font-size: .9em;
            background: $grey * 1.1;
            color: $opacBlack;
            line-height: 1.25em;
            border-right: 1px solid $grey;
            margin-bottom:0px;
            /*POSITION*/
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 34px;
            z-index:5;
        }

        textarea,
        input {
            width: 100%;
            max-width: 100%;
        }

        textarea {
            margin-bottom: -5px;
        }

        input {
            padding-left: 50px;
        }
    }

    /*&.form-group-input-icons{
        position:relative;
        display: block;
        width: 100%;
        height: 34px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: none;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }*/

    &.valid{
        border-color: $lightSuccess;
        input, textarea {
            color: $success;
        }
        label {
            background: $lightSuccess;
            border-color: $success;
        }
        &:after {
            font: 1.25em/2em FontAwesome;
            color: $lightSuccess;
            position: absolute;
            top: 0;
            right: 10px;
            content: "\f00c";
        }
    }

    &.invalid {
        border-color: #e85454;
        input, textarea {
            color: $error;
        }
        label {
            background: $error;
            border-color: #e85454;
        }
    
        &:after {
            font: 1.25em/2em FontAwesome;
            color: #FF5C5C;
            position: absolute;
            top: 0;
            right: 10px;
            content: "\f00d";
        }
        .message{
            width:100%;
        }
    }
    .message{
        color: #FF5C5C;
        background: #ffb8b8;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        margin: 0;
        line-height: 2.5em;
        text-align: center;
        overflow: hidden;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    
    .glyphicon-ok, .glyphicon-refresh, .glyphicon-remove{
        display:none;
        position:absolute;
        right: 6px;
        top: 9px;
        font-size: 16px;
    }
    .glyphicon-ok{
        
    }
    
    .glyphicon-remove{
        color:#ba1c31;
    }

    &.invalid{
        .glyphicon-remove{
            display:inline-block;
        }
        .glyphicon-ok, .glyphicon-refresh{
            display:none;
        }
    }
    &.valid{
        .glyphicon-ok{
            display:inline-block;
        }
        .glyphicon-remove, .glyphicon-refresh{
            display:none;
        }
    }
    .missing{
        border:1px solid red;
    }
}

#contact-us-form {
    position: fixed;
    z-index: 1400;
    right: 0;
    bottom: 40px;
    background: rgba(0, 19, 29, .9);
    webkit-box-shadow: 9px 9px 0px rgba(50, 50, 50, 0.31);
    -moz-box-shadow: 9px 9px 0px rgba(50, 50, 50, 0.31);
    box-shadow: 0px 4px 4px rgba(50, 50, 50, 0.9);
    border-radius:4px;
    color:#fff;
    &.max-height-80vh{
        max-height:80vh;
        overflow-y:auto;
    }

    &.success{
        .formHeader {
            background: #0A8754;
            border-color: #087146;
        }
        .submitting-container{
            display:block;
        }
        .loading-container.submitted{
            .submitting-container{
                display:none;
            }
            .sent-success-container{
                display:block;
            }
        }
        .form-container{
            display:none;
        }
    }

    .form-container, .submitting-container, .sent-success-container{
        padding: 10px 10px 10px;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    .submitting-container, .sent-success-container {
        display:none;
        .btn{
            float:none;
            margin-top:10px;
            margin-bottom:10px;
        }
    }
    .formHeader {
        background: $celergen-blue;
        border-bottom: 4px solid ($celergen-blue / 1.2);
        color: $white;
        text-align: center;
        overflow: hidden;

        /*TRANSITION*/
        @include transition(0.5s);

        h4 {
            line-height: 1.25em;
            font-size: 20px;
        }
    }

    h4{
        margin-top:5px;
        margin-bottom:5px;
        text-align:center;
    }
    /*input{
        color:#333;
    }*/
    hr{
        margin-bottom:5px;
        margin-top:5px;
    }
    .form-group{
        margin-bottom:10px;
    }
    .btn{
        float:right;
        margin-left:20px;
        //margin-bottom:10px;
        
        &.btn-default{
            border:1px solid #fff;
        }
        &.btn-red{
            border:1px solid #ba1c31;
        }
        &:hover, &:focus{
            border:1px solid #00131d;
        }
    }
}

@media screen and (max-width: $screen-xs-max) and (min-width: 601px){
     #contact-us-form{
        width:45%;
    }
}

@media screen and (max-width: 600px){
    #contact-us-form{
        width:50%;
    }
}

@media screen and (max-width: $screen-xs-max){
    #contact-us-form{
        /* label{
            display:none;
        }
    */
        .btn{
            width:100%;
            margin-bottom:5px;
            &:last-child{
                margin-bottom:0px;
            }
        }
        
    }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    #contact-us-form{
        width:35%;
       /* label{
            display:none;
        }
    */
    }
}

@media screen and (max-width: $screen-sm-max) {
    .hero-middle-content .hero-image-section .hero-btn-group .btn {
        margin-right: 20px;
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
    }
}


@media screen and (min-width: $screen-md-min) and (max-width: $screen-sm-max){
    #contact-us-form{
        width:25%;
    }
}

@media screen and (min-width: $screen-md-max) {
    #contact-us-form{
        width:20%;
    }
}
/* contact us form - Ends */

@media screen and (max-width: $screen-xs-max){
    #popup-template .modal-dialog{
        margin-top:50px;
        .modal-body {
            max-height: calc(100vh - 130px);
            min-height:250px;
        }
    }

    .authentication-modal .modal-dialog {
        margin:10px;
    }
    .hero-middle-content{
        position: relative;
        width:100%;
        .hero-image-section{
            width:70%;
            margin-left: auto;
            margin-right: auto;
            .image-column{
                text-align:center;
                img{
                    clear:both;
                    display:inline-block;
                }
            }
            .text-column{
                padding-left:15px;
                margin-top:15px;
                text-align:center;
            }
            .hero-btn-group{
                margin-top: 15px;
                .btn{
                    width:100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
