//header.scss
.navbar-fixed-top-margin{
    margin-top: 115px;
}

#global-navigation{
    border:none;
	.top-header{
		.navbar-header{
		    width:100%;
			.navbar-brand{
				padding:0px;
				display:inline;
				.header-nav-logo{
					display:inline;
				}
				.logo-txt{
					font-style:italic;
					font-size:22px;
					line-height:22px;
				}
			}
		}
	}
	.primary-navigation{
		height:70px;
		color:#fff;
	}

	.brand-header{
		a{
			&.block-link{
				text-align:right;
				padding-top:5px;
				font-size:16px;
			/*	&:hover,&:focus{
				    font-size: 18px;
				}
            */
			}
		}
        &.affix {
            top: 0;
            width: 100%;
            z-index: 999;
        }
        .brand-header-logo{
            height:64px;
        }
	}
}

#global-navigation.navbar-default{
	
	.top-header{
		color:#333;
		background:$celergen-light2;
		.navbar-header{
			.navbar-brand{
			}
		}
	}
	
	.primary-navigation{
		background:$celergen-dark1;
	}
	
	.brand-header{
		color:#fff;
		background:$celergen-blue;
		a{
			color:#ccc;
		}
	}
}

#global-navigation.navbar-inverse{
	.top-header{
	//	color:#ccc;
		background:$dark-blue1;
		border-bottom: 1px solid #38393c;
		a{
			color:#fff;
			
		}
	}
	.primary-navigation{
		color:#fff;
		background:$celergen-dark2;
		a {
			color:#ccc;
		}
	}
	.brand-header{
		color:#fff;
		background: rgb(0,19,29);//$celergen-blue;
		a{
			color:#fff;
		}
	}
	

}
@media (min-width: 672px) {
    .navbar {
       border-radius: 0px;
    }
    .navbar-fixed-top-margin {
        margin-top: 100px;
    }
}

@media (max-width: $screen-xs-max) {
     #global-navigation{
        .brand-header{
            .brand-header-logo{
                height:50px;
            }
        }
     }
    #nav.affix {
        top: 50px;
    }
    /*.video-container{
        display:none;
    }*/
}

@media (max-width: $screen-sm-max) {
    #global-navigation{
     	
     }  
}

@media (max-width: $screen-md-max) {
    #global-navigation{
     	
     }  
}

@media (min-width: $screen-lg-min) {   
    #global-navigation{
     	
     }  
}