$rem: 16;
$font-path: '../fonts';
$img-path: '../icons';

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px; 

//Theme variables
$hcc-color : #fb0505;
$hcc-color-80 : #fb0505;
$hcc-color-60 : #fb0505;
$hcc-color-40 : #fb0505;
$hcc-color-20 : #fb0505;




@mixin theme-structure($theme-color, $theme-color-80, $theme-color-60, $theme-color-40, $theme-color-20) {
	
	
	
	
	
	@media (max-width: $screen-xs-max) {
       
    }
   
    @media (max-width: $screen-sm-max) {
        
    }
   
   @media (max-width: $screen-md-max) {
        
    }
   
   @media (min-width: $screen-lg-min) {
        
    }
}