$rem: 16;
$font-path: '../assets/fonts';
$img-path: '../assets/icons';

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px; 

//Theme variables
$g3-color : #fb0505;
$g3-color-80 : #fb0505;
$g3-color-60 : #fb0505;
$g3-color-40 : #fb0505;
$g3-color-20 : #fb0505;

$celergen-light1: #eef3f6;
$celergen-light2: #dce1e5;
$celergen-dark1: #e8edf0;
$celergen-dark2: #181f32;
$black1:#161718;
$dark-blue1:#0e1525;

$celergen-red:#ba1c31; //rgb(186, 28, 49)
$celergen-blue:#003c62;
$celergen-black:#252525;




@mixin theme-structure($theme-color, $theme-color-80, $theme-color-60, $theme-color-40, $theme-color-20) {
	
	
	
	
	
	@media (max-width: $screen-xs-max) {
       
    }
   
    @media (max-width: $screen-sm-max) {
        
    }
   
   @media (max-width: $screen-md-max) {
        
    }
   
   @media (min-width: $screen-lg-min) {
        
    }
}